header{
    .button{
        a{
            @include button;
        }
    }
}
@media screen and (min-width:1000px){
    header{
        background-image: url(../Images/header/ramen-gc4774e9f0_1920.jpg);
        background-size: cover;
        background-attachment: scroll;
        height: 1000px;
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            visibility:collapse;
        }
        .header__text{
            height:320px;
            width: 650px;
            background: rgba(255, 255, 255, 0.5);
            padding-left:10px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
@media screen and (max-width:999px){
    header{
        margin-bottom: 0px;
        .header__text{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            h2{
                margin-bottom: 20px;
                text-align: center;
            }
            img{
                width:100%;
                margin-top: 100px;
            }
        }
    }
}
.nos-restaurants{
    @include section;
    margin-top: 150px;
    @media screen and (min-width:1100px){
        &__container{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
    @media screen and (max-width:1099px){
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    img{
        width: 305px;
        height: 216px;
    }
}
@media screen and (max-width:999px){
    p{
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
.savoir-faire{
    @include section;
    text-align:justify;
}
.insta{
    @include section;
    &__container{
        width: 90%;
        height:auto;
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 260px);
        justify-content: center;
        grid-gap:15px;
    }
}
.contact{
    @include section;
    text-align: center;
}