.commande{
    padding:50px 30%;
    margin-bottom: 150px;
    h1{
        margin-bottom:50px;
    }
    h2{
        margin-bottom: 10px;
    }
    p{
        margin-bottom:15px;
    }
    &__restos{
        transition:all 400ms;
        &:hover{
            transform:scale(1.1);
        }
    }
    @media screen and (min-width:1000px) {
        border: 15px solid $highlight-color;
    }
    @media screen and (max-width:999px) {
        border: 5px solid $highlight-color;
        h1, h2{
            font-size:18px;
        }
    }
}
.click-collect{
    margin-bottom: 150px;
    @media screen and (min-width:1000px){
        margin:150px 25%;
    }
    @media screen and (max-width:999px){
        margin:100px 10%;
    }
    h1{
        margin-bottom:50px;
        margin-top: 50px;
    }
    &__h1-underline{
        border-bottom: 3px solid $highlight-color;
        width: intrinsic;
        width:-moz-max-content;
        width:-webkit-max-content;
    }
    h2{
        margin: 25px 25px 25px 0px;
    }
    @media screen and (max-width:999px){
        h2{
            font-size: 18px;
        }
    }
    &__prix{
        display: flex;
        align-items: baseline;
    }
    &__form{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        input{
            width: 65px;
        }
        &-boissons{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            input{
                width: 65px;
            }
        }
    }
    @media screen and (max-width:999px){
        &__form{
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{
                width: 40px;
            }
            &-boissons{
                input{
                    width: 40px;
                }
            }
        }
    }
    &__total{
        display: flex;
        justify-content:center;
        align-items: baseline;
        h1{
            margin-right: 50px;
        }
        h2{
            margin-left:50px
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        margin:auto;
        input{
            font-family: "Poppins", Georgia, 'Times New Roman', Times, sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: $title-color;
            padding:10px 45px;
            background-color: $complementary-color;
            cursor: pointer;
        }
    }
    &__indispo{
        text-decoration: line-through;
        @media screen and (min-width:1000px){
            text-decoration-thickness: 3px;
        }
        @media screen and (max-width:999px){
            text-decoration-thickness: 1.5px;
        }
    }
    .click-collect__indispo-cursor{
        input{
            cursor: not-allowed;
        }  
    }
}